/* -- Elements --*/
body {
  background-color: #140d07;
  color:  #f5f8e4;
}

/* Sections and containers */ 

.colored-section {
  background-color: #140d07;
  color: #f5f8e4;
}

.light-section {
  background-color: #f5f8e4;
  color: #140d07;
}

.container-fluid {
  padding: 5% 15%;
}

/* -- Special text classes --*/ 

.uppercase {
    text-transform: uppercase;
}

.section-heading {
  font-weight: bolder;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}
/* -- Buttons --*/ 

.btn {
  background-color: #719f9f;
  color: #f5f8e4;
}



/* -- Navigation Bar --*/
.navbar-brand {
  padding: 10px 0 10px 25px;
}

.nav-item {
  padding: 0 18px;
}

.navbar {
  background-color: #140d07;
}

nav .navbar-nav li a {
  color: #f5f8e4 !important;
}

/* -- Header --*/

.hero-container {
  height: 80vh;

  background: url("../images/Hero-image.jpeg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-hero {
  font-weight: bolder;
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
  color: #ffff;
  text-shadow: 3px 3px #140d07;
}

div .subtext-hero {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  color: #ffff !important;
  text-shadow: 3px 3px #140d07;
}

/* -- About --*/

.ethic-container {
  padding: 10px 0px 20px 0px;
  margin: 0;
}

.instructor-container {
  padding: 20px 0 10px 0px;
  margin: 0;
}

.instructor-img,
.ethic-img {
  box-shadow: -5px 5px #719f9f;
  -moz-box-shadow: -5px 5px #719f9f;
  -webkit-box-shadow: -5px 5px #719f9f;
  -o-box-shadow: -5px 5px #719f9f;
  border-radius: 100px;
}

/* -- Pricing cards--*/

.card-text {
  font-size: 1.15rem;
  font-weight: 200;
  line-height: 1.5;
}

#pricing .card {
  -webkit-box-shadow: 6px 6px 0px -1px #719f9f;
  -moz-box-shadow: 6px 6px 0px -1px #719f9f;
  box-shadow: 6px 6px 0px -1px #719f9f;
}


/* -- Reviews--*/

.carousel-item {
  padding: 5% 15%;
}

.review-image {
  width: 10%;
  border-radius: 100%;
  margin: 15px;
  box-shadow: -3px 3px #719f9f;
  -moz-box-shadow: -3px 3px #719f9f;
  -webkit-box-shadow: -3px 3px #719f9f;
  -o-box-shadow: -3px 3px #719f9f;
}

/* -- Call to Action--*/

/* -- Footer--*/
footer {
  min-height: 120px;
  margin: 0;
  padding: 45px 25px 45px 25px;
}

.footer-social li a i {
  width: 35px;
  height: 35px;
  padding: 15px 0;
  border-radius: 50%;
  font-size: 16px;
  line-height: 8px;
  text-align: center;
  text-decoration: none;
  color: #f5f8e4;
  background: #719f9f;
}
